body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.main-box {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.center {
    width: 25%;
    height: 50%;
    background-color: black;
    border-style: solid;
    border-color: white;
    position: relative;
    bottom: 10%;
    left: 25%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66% ;
}
.item {
    border-style: solid;
    border-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-text {
    color: white;
    font-size: 60px;
}
#clutch {
    z-index: -10;
}
.item > p {
    height: 100%;
    width: 100%;
    text-align: center;
}
.keyboard {
    height: 25%;
    width: 40%;
    position: relative;
    top: 34%;
    right: 18%;
}
.kr1, .kr2, .kr3 {
    width: 100%;
    height: 33%;
    background-color: black;
    border-style: solid;
}
.kr1 {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 100%;
}
.kr2 {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 100%;
    justify-content: center;
}
.kr3 {
    display: grid;
    grid-template-columns: 13% 10% 10% 10% 10% 10% 10% 10% 13%;
    grid-template-rows: 100%;
    justify-content: center;
}
.kr1 div, .kr2 div, .kr3 div {
    background-color: gray;
    border-style: solid;
    border-color: black;
}
.kr1 div p, .kr2 div p, .kr3 div p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}